Assignment1-3/src/ ywu660-Schema1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ItemType">
        <xs:sequence>
            <xs:element name="ItemId" type="xs:integer"/>
            <xs:element name="Origin">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NZ"/>
                        <xs:enumeration value="Sweden"/>
                        <xs:enumeration value="France"/>
                        <xs:enumeration value="Italy"/>
                        <xs:enumeration value="Spain"/>
                        <xs:enumeration value="England"/>
                        <xs:enumeration value="Greece"/>
                        <xs:enumeration value="Denmark"/>
                        <xs:enumeration value="Switzerland"/>
                        <xs:enumeration value="Greece"/>
                        <xs:enumeration value="Denmark"/>
                        <xs:enumeration value="Switzerland"/>
                        <xs:enumeration value="Iceland"/>
                        <xs:enumeration value="Portugal"/>
                        <xs:enumeration value="Cyprus"/>
                        <xs:enumeration value="Bulgaria"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>