Assignment1-3/src/ywu660-Schema2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

        <xs:simpleType name="TypeType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="Cheese"/>
                <xs:enumeration value="Milk"/>
                <xs:enumeration value="Butter"/>
                <xs:enumeration value="Cream"/>
                <xs:enumeration value="Yogurt"/>
            </xs:restriction>
        </xs:simpleType>

    <xs:complexType name="ItemType">
        <xs:sequence>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Types">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Type" type="TypeType" maxOccurs="5"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="origin" default="NZ">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NZ"/>
                    <xs:enumeration value="Sweden"/>
                    <xs:enumeration value="France"/>
                    <xs:enumeration value="Italy"/>
                    <xs:enumeration value="Spain"/>
                    <xs:enumeration value="England"/>
                    <xs:enumeration value="Greece"/>
                    <xs:enumeration value="Denmark"/>
                    <xs:enumeration value="Switzerland"/>
                    <xs:enumeration value="Greece"/>
                    <xs:enumeration value="Denmark"/>
                    <xs:enumeration value="Switzerland"/>
                    <xs:enumeration value="Iceland"/>
                    <xs:enumeration value="Portugal"/>
                    <xs:enumeration value="Cyprus"/>
                    <xs:enumeration value="Bulgaria"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="ArrayOfItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>